* .nav-link {
  text-decoration: none;
  font-weight: bolder;
  color: dark;
}

footer {
  color: white;
  background-color: rgb(12, 12, 12);
}

.product,
.plot {

  text-align: center;
}


.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
 }

 @media (max-width:2000px) {
  .navbar {
    font-size: medium;  
  }
  .textt{
    font-size: 2em;
  }
  .card-title {
    
    font-size: 4em;
  }
  
  
  }

@media (max-width:800px) {
.navbar {
  font-size: medium;
  
}
.card-title {
  font-size: 2em;
}
.textt{
  font-size: 1.3em;
}

}


@media (max-width:450px) {
  
 .card-img-overlay{
  font-size: small;
 }
 .navbar {
  font-size: small;
  
 }
 .textt{
  font-size: 1em;
}


}

